<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style type="text/css">
		p
		{
			text-align: center;
			background-color: cadetblue;
			color:black;
			padding: 23px;
			margin-left: 40%;
			margin-right: 30%
		}
		#sample
		{
			margin-left: 23%;
			background-color: green;
			text-align:center;
			padding:12px;
		}
		.sa
		{
			margin-right: 20%;
			text-align: center;
			color: white;
			background-color: black;
		}
	</style>	
</head>
<body>
	<h3>Your Name is: <span style="color:black;font-size: 29px">{{n}}</span></h3>
	<h4 id="sample" style="text-align: center">Your Id is: {{i}}</h4>
<h1>Internal</h1>
<p>This is an example for Internal Styling based on tag</p>
<h4 id="sample">This is an example for Internal based on Id</h4>

<h4 class="sa">This is an examole for class by using Internal Styling</h4>
<p class="sa">This is an example</p>
<h1 class="sa">Hi Welcome Teju</h1>


</body>
</html>