<!DOCTYPE html>
<html>
<head>
	<title>Registration Info</title>
</head>
<body>
	<h2>Hi {{Initial}}</h2>
	<table border="1">
		<tr>
			<thread>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Id</th>
				<th>Phone Number</th>
				<th>Gender</th>
				<th>Address</th>
				<th>Language</th>
			</thread>
		</tr>
		<tr>
			<tbody>
				<td>{{Initial}}</td>
				<td>{{Name}}</td>
				<td>{{emailId}}</td>
				<td>{{Phno}}</td>
				<td>{{gender}}</td>
				<td>{{Location}}</td>
				<td>{{lang}}</td>
			</tbody>
		</tr>		
	</table>
</body>
</html>